@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.TheMessage</h3>

<form action="/" method="post">
    <textarea name="message"></textarea>
    <input type="submit" value="Send" />
</form>